
Lab4/BUILD/.vs/tnm046-labs/v17/ipch/AutoPCH/5d5ad28d186649d0/GLPRIMER.ipch
Lab4/BUILD/.vs/tnm046-labs/v17/ipch/AutoPCH/5fa3e6c6b3970eee/UTILITIES.ipch
Lab4/BUILD/.vs/tnm046-labs/v17/ipch/AutoPCH/67404e1222b0c8cd/SHADER.ipch
Lab4/BUILD/.vs/tnm046-labs/v17/ipch/AutoPCH/8c0f6817824e0ab9/TEXTURE.ipch
Lab4/BUILD/.vs/tnm046-labs/v17/ipch/AutoPCH/94c480fb4ebf8da4/GLPRIMER.ipch
Lab4/BUILD/.vs/tnm046-labs/v17/ipch/AutoPCH/af75aaff46d39483/TRIANGLESOUP.ipch
Lab4/BUILD/.vs/tnm046-labs/v17/ipch/AutoPCH/c044879df0fdd0c2/UTILITIES.ipch
Lab4/BUILD/.vs/tnm046-labs/v17/Solution.VC.db
Lab4/BUILD/.vs/tnm046-labs/v17/Solution.VC.db-shm
Lab4/BUILD/.vs/tnm046-labs/v17/Solution.VC.db-wal
Lab4/BUILD/ALL_BUILD.vcxproj
Lab4/BUILD/ALL_BUILD.vcxproj.filters
Lab4/BUILD/cmake_install.cmake
Lab4/BUILD/CMakeCache.txt
Lab4/BUILD/CMakeFiles/0e46a43a18e722bd3e3bb62afec5a0f5/INSTALL_force.rule
Lab4/BUILD/CMakeFiles/3.27.4/CMakeCCompiler.cmake
Lab4/BUILD/CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
Lab4/BUILD/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
Lab4/BUILD/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
Lab4/BUILD/CMakeFiles/3.27.4/CMakeRCCompiler.cmake
Lab4/BUILD/CMakeFiles/3.27.4/CMakeSystem.cmake
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.exe
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/CompilerIdC.vcxproj
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/Debug/CMakeCCompilerId.obj
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.exe
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/CompilerIdCXX.vcxproj
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
Lab4/BUILD/CMakeFiles/3.27.4/VCTargetsPath.txt
Lab4/BUILD/CMakeFiles/3.27.4/VCTargetsPath.vcxproj
Lab4/BUILD/CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.recipe
Lab4/BUILD/CMakeFiles/3.27.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
Lab4/BUILD/CMakeFiles/952e50088f6f3264a0c387cce33cc84a/INSTALL_force.rule
Lab4/BUILD/CMakeFiles/a28568c46880a3cda3913532183da1ab/generate.stamp.rule
Lab4/BUILD/CMakeFiles/a28568c46880a3cda3913532183da1ab/INSTALL_force.rule
Lab4/BUILD/CMakeFiles/be8a833f16f719208321b042cdd1a781/INSTALL_force.rule
Lab4/BUILD/CMakeFiles/be8a833f16f719208321b042cdd1a781/uninstall.rule
Lab4/BUILD/CMakeFiles/cmake.check_cache
Lab4/BUILD/CMakeFiles/CMakeConfigureLog.yaml
Lab4/BUILD/CMakeFiles/generate.stamp
Lab4/BUILD/CMakeFiles/generate.stamp.depend
Lab4/BUILD/CMakeFiles/generate.stamp.list
Lab4/BUILD/CMakeFiles/TargetDirectories.txt
Lab4/BUILD/Debug/tnm046-labs.exe
Lab4/BUILD/Debug/tnm046-labs.pdb
Lab4/BUILD/glew/ALL_BUILD.vcxproj
Lab4/BUILD/glew/ALL_BUILD.vcxproj.filters
Lab4/BUILD/glew/cmake_install.cmake
Lab4/BUILD/glew/CMakeFiles/generate.stamp
Lab4/BUILD/glew/CMakeFiles/generate.stamp.depend
Lab4/BUILD/glew/Debug/GLEW.lib
Lab4/BUILD/glew/Debug/GLEW.pdb
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.lib.recipe
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.log
Lab4/BUILD/glew/GLEW.dir/Debug/glew.obj
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.tlog/CL.command.1.tlog
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.tlog/Cl.items.tlog
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.tlog/CL.read.1.tlog
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.tlog/CL.write.1.tlog
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.tlog/CustomBuild.command.1.tlog
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.tlog/CustomBuild.read.1.tlog
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.tlog/CustomBuild.write.1.tlog
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.tlog/GLEW.lastbuildstate
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.tlog/Lib-link.read.1.tlog
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.tlog/Lib-link.write.1.tlog
Lab4/BUILD/glew/GLEW.dir/Debug/GLEW.tlog/Lib.command.1.tlog
Lab4/BUILD/glew/GLEW.sln
Lab4/BUILD/glew/GLEW.vcxproj
Lab4/BUILD/glew/GLEW.vcxproj.filters
Lab4/BUILD/glew/INSTALL.vcxproj
Lab4/BUILD/glew/INSTALL.vcxproj.filters
Lab4/BUILD/glfw-3.3.2/ALL_BUILD.vcxproj
Lab4/BUILD/glfw-3.3.2/ALL_BUILD.vcxproj.filters
Lab4/BUILD/glfw-3.3.2/cmake_install.cmake
Lab4/BUILD/glfw-3.3.2/cmake_uninstall.cmake
Lab4/BUILD/glfw-3.3.2/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-debug.cmake
Lab4/BUILD/glfw-3.3.2/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-minsizerel.cmake
Lab4/BUILD/glfw-3.3.2/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-release.cmake
Lab4/BUILD/glfw-3.3.2/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-relwithdebinfo.cmake
Lab4/BUILD/glfw-3.3.2/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets.cmake
Lab4/BUILD/glfw-3.3.2/CMakeFiles/generate.stamp
Lab4/BUILD/glfw-3.3.2/CMakeFiles/generate.stamp.depend
Lab4/BUILD/glfw-3.3.2/GLFW.sln
Lab4/BUILD/glfw-3.3.2/INSTALL.vcxproj
Lab4/BUILD/glfw-3.3.2/INSTALL.vcxproj.filters
Lab4/BUILD/glfw-3.3.2/src/cmake_install.cmake
Lab4/BUILD/glfw-3.3.2/src/CMakeFiles/generate.stamp
Lab4/BUILD/glfw-3.3.2/src/CMakeFiles/generate.stamp.depend
Lab4/BUILD/glfw-3.3.2/src/Debug/glfw3.lib
Lab4/BUILD/glfw-3.3.2/src/Debug/glfw3.pdb
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/context.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/egl_context.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.log
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.tlog/CL.command.1.tlog
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.tlog/Cl.items.tlog
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.tlog/CL.read.1.tlog
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.tlog/CL.write.1.tlog
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.tlog/CustomBuild.command.1.tlog
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.tlog/CustomBuild.read.1.tlog
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.tlog/CustomBuild.write.1.tlog
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.tlog/glfw.lastbuildstate
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.tlog/Lib-link.read.1.tlog
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.tlog/Lib-link.write.1.tlog
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw.tlog/Lib.command.1.tlog
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/glfw3.lib.recipe
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/init.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/input.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/monitor.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/osmesa_context.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/vulkan.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/wgl_context.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/win32_init.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/win32_joystick.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/win32_monitor.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/win32_thread.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/win32_time.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/win32_window.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.dir/Debug/window.obj
Lab4/BUILD/glfw-3.3.2/src/glfw.vcxproj
Lab4/BUILD/glfw-3.3.2/src/glfw.vcxproj.filters
Lab4/BUILD/glfw-3.3.2/src/glfw3.pc
Lab4/BUILD/glfw-3.3.2/src/glfw3Config.cmake
Lab4/BUILD/glfw-3.3.2/src/glfw3ConfigVersion.cmake
Lab4/BUILD/glfw-3.3.2/src/glfw_config.h
Lab4/BUILD/glfw-3.3.2/src/INSTALL.vcxproj
Lab4/BUILD/glfw-3.3.2/src/INSTALL.vcxproj.filters
Lab4/BUILD/glfw-3.3.2/uninstall.vcxproj
Lab4/BUILD/glfw-3.3.2/uninstall.vcxproj.filters
Lab4/BUILD/INSTALL.vcxproj
Lab4/BUILD/INSTALL.vcxproj.filters
Lab4/BUILD/tnm046-labs.dir/Debug/GLprimer.obj
Lab4/BUILD/tnm046-labs.dir/Debug/Rotator.obj
Lab4/BUILD/tnm046-labs.dir/Debug/Shader.obj
Lab4/BUILD/tnm046-labs.dir/Debug/Texture.obj
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.exe.recipe
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.ilk
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.log
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.tlog/CL.command.1.tlog
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.tlog/Cl.items.tlog
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.tlog/CL.read.1.tlog
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.tlog/CL.write.1.tlog
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.tlog/CustomBuild.command.1.tlog
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.tlog/CustomBuild.read.1.tlog
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.tlog/CustomBuild.write.1.tlog
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.tlog/link.command.1.tlog
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.tlog/link.read.1.tlog
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.tlog/link.write.1.tlog
Lab4/BUILD/tnm046-labs.dir/Debug/tnm046-labs.tlog/tnm046-labs.lastbuildstate
Lab4/BUILD/tnm046-labs.dir/Debug/TriangleSoup.obj
Lab4/BUILD/tnm046-labs.dir/Debug/Utilities.obj
Lab4/BUILD/tnm046-labs.dir/Debug/vc143.pdb
Lab4/BUILD/tnm046-labs.sln
Lab4/BUILD/tnm046-labs.vcxproj
Lab4/BUILD/tnm046-labs.vcxproj.filters
Lab4/BUILD/tnm046-labs.vcxproj.user
Lab4/BUILD/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
Lab4/BUILD/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
Lab4/BUILD/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
Lab4/BUILD/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
Lab4/BUILD/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
Lab4/BUILD/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
Lab4/BUILD/ZERO_CHECK.vcxproj
Lab4/BUILD/ZERO_CHECK.vcxproj.filters
